name: Build

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

jobs:
  buildWindows:
    name: Build for Windows
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-Build-Windows-${{ hashFiles('Packages/packages-lock.json') }}
          restore-keys: |
            Library-Build-Windows-
            Library-

      - name: Build
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: StandaloneWindows64
          allowDirtyBuild: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Build-Windows
          path: build/StandaloneWindows64
